[project]
name = "fastmcp-tasks"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastmcp @ git+https://github.com/jlowin/fastmcp.git@sep-1686"
]
